#hardware{
  position: relative;
  top: 95vh;
}

footer{
  position: relative;
  top: 100vh;
}

.buttons-wrapper {
  position: absolute;
  height: calc(100vh);
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 997;
  top: 0;
  pointer-events: none;
  width: 100%;
}
.buttons-wrapper a {
  pointer-events: auto;
}
.mg-rg {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

body{
  overflow-x: hidden;
}

#software{
  position: relative;
  top: 85vh;
}

.buttons-wrapper{
  z-index: 99;
}

#overview{
  position: relative;
  top: 95vh;
}